<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to write your story!</h1>
    <form action='/parcel'>
      <div class='form-group'>
        <label for='width'>Enter the width:</label>
        <input id='width' name='width' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='height'>Enter the length:</label>
        <input id='height' name='height' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='length'>Enter the height:</label>
        <input id='length' name='length' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='weight'>Enter the weight:</label>
        <input id='weight' name='weight' class='form-control' type='text'>
      </div>

      <button type='submit' class='btn'>Show me the package!</button>
    </form>
  </body>
</html>
